examples/basics.json
[{"id":"fee3354a.f49d28","type":"tab","label":"Alpaca Basics","disabled":false,"info":""},{"id":"3e56afdb.07d88","type":"inject","z":"fee3354a.f49d28","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":100,"wires":[["63ba90ad.c5a94"]]},{"id":"52a844fd.a6892c","type":"debug","z":"fee3354a.f49d28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":100,"wires":[]},{"id":"b93549ab.ddf478","type":"inject","z":"fee3354a.f49d28","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":140,"wires":[["3e8173ee.f500cc"]]},{"id":"f61af03b.18f62","type":"debug","z":"fee3354a.f49d28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":140,"wires":[]},{"id":"3efad2e4.6b9ede","type":"inject","z":"fee3354a.f49d28","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":180,"wires":[["c6c0e738.2f94d8"]]},{"id":"78beb161.4530d","type":"debug","z":"fee3354a.f49d28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":180,"wires":[]},{"id":"a0432577.02f468","type":"inject","z":"fee3354a.f49d28","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":220,"wires":[["bac81ac2.c633d8"]]},{"id":"21bd03c5.82cd3c","type":"debug","z":"fee3354a.f49d28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":220,"wires":[]},{"id":"63ba90ad.c5a94","type":"submit-order","z":"fee3354a.f49d28","name":"","symbol":"AAPL","qty":"10","price":"345","tif":"day","side":"buy","auth":"f2fd06a5.022358","x":530,"y":100,"wires":[["52a844fd.a6892c"]]},{"id":"3e8173ee.f500cc","type":"get-order","z":"fee3354a.f49d28","name":"","auth":"f2fd06a5.022358","x":520,"y":140,"wires":[["f61af03b.18f62"]]},{"id":"c6c0e738.2f94d8","type":"get-bars","z":"fee3354a.f49d28","name":"","symbol":"AAPL","limit":"40","auth":"f2fd06a5.022358","x":540,"y":180,"wires":[["78beb161.4530d"]]},{"id":"bac81ac2.c633d8","type":"get-account","z":"fee3354a.f49d28","name":"","auth":"f2fd06a5.022358","x":530,"y":220,"wires":[["21bd03c5.82cd3c"]]},{"id":"f2fd06a5.022358","type":"alpaca-config","z":"","name":"My Alpaca Config","keyid":"${APCA_API_KEY_ID}","secretkey":"${APCA_API_SECRET_KEY}","paper":"true"}]