examples/limit-spread.json
[
	{
		"id": "b0d1095b.186d78",
		"type": "tab",
		"label": "Limit Spread",
		"disabled": false,
		"info": ""
	},
	{
		"id": "5b5ba32c.78ab8c",
		"type": "inject",
		"z": "b0d1095b.186d78",
		"name": "",
		"topic": "",
		"payload": "{}",
		"payloadType": "json",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 170,
		"y": 100,
		"wires": [
			[
				"c6618c9.083ab7"
			]
		]
	},
	{
		"id": "3337dfb2.46c84",
		"type": "debug",
		"z": "b0d1095b.186d78",
		"name": "",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"x": 650,
		"y": 260,
		"wires": []
	},
	{
		"id": "c6618c9.083ab7",
		"type": "change",
		"z": "b0d1095b.186d78",
		"name": "TWTR",
		"rules": [
			{
				"t": "set",
				"p": "payload.stock",
				"pt": "msg",
				"to": "TWTR",
				"tot": "str"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 210,
		"y": 180,
		"wires": [
			[
				"4b8d35e8.668f3c"
			]
		]
	},
	{
		"id": "b4327f17.131d",
		"type": "function",
		"z": "b0d1095b.186d78",
		"name": "scaled range",
		"func": "var shares = 0;\nvar orders = [];\nvar spread =\n    msg.payload.pricerange.high - \n    msg.payload.pricerange.low;\nvar numorders =\n    msg.payload.pricerange.orders;\nvar temp;\n\nfor(var i = 0; i < numorders; i++){\n    temp = msg.payload;\n    shares += i;\n    temp.price =\n        msg.payload.pricerange.low +\n        (i / numorders) * spread;\n    temp.quantity = 2;\n    orders.push(JSON.parse(JSON.stringify(temp)));\n}\nmsg.payload = orders;\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 470,
		"y": 180,
		"wires": [
			[
				"f8b7d402.abb0d8"
			]
		]
	},
	{
		"id": "4b8d35e8.668f3c",
		"type": "change",
		"z": "b0d1095b.186d78",
		"name": "10 shares",
		"rules": [
			{
				"t": "set",
				"p": "payload.quantity",
				"pt": "msg",
				"to": "10",
				"tot": "num"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 220,
		"y": 220,
		"wires": [
			[
				"4344357a.b2bc4c"
			]
		]
	},
	{
		"id": "4344357a.b2bc4c",
		"type": "change",
		"z": "b0d1095b.186d78",
		"name": "buy order",
		"rules": [
			{
				"t": "set",
				"p": "payload.side",
				"pt": "msg",
				"to": "buy",
				"tot": "str"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 220,
		"y": 260,
		"wires": [
			[
				"557476bc.257028"
			]
		]
	},
	{
		"id": "557476bc.257028",
		"type": "change",
		"z": "b0d1095b.186d78",
		"name": "SET price range",
		"rules": [
			{
				"t": "set",
				"p": "payload.pricerange",
				"pt": "msg",
				"to": "{\"high\":33,\"low\":30,\"orders\":5}",
				"tot": "json"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 240,
		"y": 300,
		"wires": [
			[
				"b4327f17.131d",
				"ee8547f1.7b9928"
			]
		]
	},
	{
		"id": "ee8547f1.7b9928",
		"type": "debug",
		"z": "b0d1095b.186d78",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"x": 450,
		"y": 320,
		"wires": []
	},
	{
		"id": "1760db5a.0c0ec5",
		"type": "debug",
		"z": "b0d1095b.186d78",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"targetType": "msg",
		"x": 650,
		"y": 220,
		"wires": []
	},
	{
		"id": "f8b7d402.abb0d8",
		"type": "split",
		"z": "b0d1095b.186d78",
		"name": "",
		"splt": "\\n",
		"spltType": "str",
		"arraySplt": 1,
		"arraySpltType": "len",
		"stream": false,
		"addname": "",
		"x": 450,
		"y": 220,
		"wires": [
			[
				"1760db5a.0c0ec5",
				"ecd02206.21e4f"
			]
		]
	},
	{
		"id": "ecd02206.21e4f",
		"type": "submit-order",
		"z": "b0d1095b.186d78",
		"name": "",
		"x": 470,
		"y": 260,
		"wires": [
			[
				"3337dfb2.46c84"
			]
		]
	}
]
