examples/limit-spread.json
[
	{
		"id": "44e2e4b7.0a331c",
		"type": "tab",
		"label": "Limit Spread",
		"disabled": false,
		"info": ""
	},
	{
		"id": "e053e922.865828",
		"type": "inject",
		"z": "44e2e4b7.0a331c",
		"name": "",
		"topic": "",
		"payload": "{}",
		"payloadType": "json",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 170,
		"y": 100,
		"wires": [
			[
				"12c39d7f.be0083"
			]
		]
	},
	{
		"id": "8c414cc7.ab95d",
		"type": "debug",
		"z": "44e2e4b7.0a331c",
		"name": "",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"x": 650,
		"y": 260,
		"wires": []
	},
	{
		"id": "12c39d7f.be0083",
		"type": "change",
		"z": "44e2e4b7.0a331c",
		"name": "TWTR",
		"rules": [
			{
				"t": "set",
				"p": "payload.stock",
				"pt": "msg",
				"to": "TWTR",
				"tot": "str"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 210,
		"y": 180,
		"wires": [
			[
				"e13c5871.67d778"
			]
		]
	},
	{
		"id": "3e3dbd5e.6281b2",
		"type": "function",
		"z": "44e2e4b7.0a331c",
		"name": "scaled range",
		"func": "var shares = 0;\nvar orders = [];\nvar spread =\n    msg.payload.pricerange.high - \n    msg.payload.pricerange.low;\nvar numorders =\n    msg.payload.pricerange.orders;\nvar temp;\n\nfor(var i = 0; i < numorders; i++){\n    temp = msg.payload;\n    shares += i;\n    temp.price =\n        msg.payload.pricerange.low +\n        (i / numorders) * spread;\n    temp.quantity = 2;\n    orders.push(JSON.parse(JSON.stringify(temp)));\n}\nmsg.payload = orders;\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 470,
		"y": 180,
		"wires": [
			[
				"93376e17.508b6"
			]
		]
	},
	{
		"id": "e13c5871.67d778",
		"type": "change",
		"z": "44e2e4b7.0a331c",
		"name": "10 shares",
		"rules": [
			{
				"t": "set",
				"p": "payload.quantity",
				"pt": "msg",
				"to": "10",
				"tot": "num"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 220,
		"y": 220,
		"wires": [
			[
				"d2fcd340.ede91"
			]
		]
	},
	{
		"id": "d2fcd340.ede91",
		"type": "change",
		"z": "44e2e4b7.0a331c",
		"name": "buy order",
		"rules": [
			{
				"t": "set",
				"p": "payload.side",
				"pt": "msg",
				"to": "buy",
				"tot": "str"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 220,
		"y": 260,
		"wires": [
			[
				"861c34df.1350c8"
			]
		]
	},
	{
		"id": "861c34df.1350c8",
		"type": "change",
		"z": "44e2e4b7.0a331c",
		"name": "SET price range",
		"rules": [
			{
				"t": "set",
				"p": "payload.pricerange",
				"pt": "msg",
				"to": "{\"high\":33,\"low\":30,\"orders\":5}",
				"tot": "json"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 240,
		"y": 300,
		"wires": [
			[
				"3e3dbd5e.6281b2",
				"bb204857.499738"
			]
		]
	},
	{
		"id": "bb204857.499738",
		"type": "debug",
		"z": "44e2e4b7.0a331c",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"x": 450,
		"y": 320,
		"wires": []
	},
	{
		"id": "fab7ea9a.ae6088",
		"type": "debug",
		"z": "44e2e4b7.0a331c",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"targetType": "msg",
		"x": 650,
		"y": 220,
		"wires": []
	},
	{
		"id": "93376e17.508b6",
		"type": "split",
		"z": "44e2e4b7.0a331c",
		"name": "",
		"splt": "\\n",
		"spltType": "str",
		"arraySplt": 1,
		"arraySpltType": "len",
		"stream": false,
		"addname": "",
		"x": 450,
		"y": 220,
		"wires": [
			[
				"fab7ea9a.ae6088",
				"34c7cc4f.ff4454"
			]
		]
	},
	{
		"id": "34c7cc4f.ff4454",
		"type": "submit-order",
		"z": "44e2e4b7.0a331c",
		"name": "",
		"x": 470,
		"y": 260,
		"wires": [
			[
				"8c414cc7.ab95d"
			]
		]
	},
	{
		"id": "40d1c98.bd89538",
		"type": "get-order",
		"z": "44e2e4b7.0a331c",
		"name": "",
		"x": 420,
		"y": 440,
		"wires": [
			[
				"e053ebd8.fb3028"
			]
		]
	},
	{
		"id": "833335a.f683ec8",
		"type": "inject",
		"z": "44e2e4b7.0a331c",
		"name": "",
		"topic": "",
		"payload": "{}",
		"payloadType": "json",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 190,
		"y": 440,
		"wires": [
			[
				"40d1c98.bd89538"
			]
		]
	},
	{
		"id": "e053ebd8.fb3028",
		"type": "debug",
		"z": "44e2e4b7.0a331c",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"x": 630,
		"y": 440,
		"wires": []
	}
]