examples/limit-spread.json
[{"id":"f3e7e969.b3a088","type":"tab","label":"Alpaca - Order Spread (Limit)","disabled":false,"info":""},{"id":"a823582c.503c98","type":"inject","z":"f3e7e969.b3a088","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":170,"y":100,"wires":[["404f87a9.e106c8"]]},{"id":"3cfc3ecf.344842","type":"debug","z":"f3e7e969.b3a088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":260,"wires":[]},{"id":"404f87a9.e106c8","type":"change","z":"f3e7e969.b3a088","name":"TWTR","rules":[{"t":"set","p":"symbol","pt":"msg","to":"TWTR","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":180,"wires":[["f821049a.76b818"]]},{"id":"f559b513.df0ab8","type":"function","z":"f3e7e969.b3a088","name":"scaled range","func":"var shares = 0;\nvar orders = [];\nvar spread =\n    msg.pricerange.high - \n    msg.pricerange.low;\nvar numorders =\n    msg.pricerange.orders;\nvar temp;\n\nfor(var i = 0; i < numorders; i++){\n    temp = msg;\n    temp.price =\n        msg.pricerange.low +\n        (i / numorders) * spread;\n    temp.qty = msg.qty;\n    orders.push(JSON.parse(JSON.stringify(temp)));\n}\nmsg.payload = orders;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":180,"wires":[["46b137f5.040ed8"]]},{"id":"f821049a.76b818","type":"change","z":"f3e7e969.b3a088","name":"2 shares ea.","rules":[{"t":"set","p":"qty","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":220,"wires":[["e9d30bc9.6da678"]]},{"id":"e9d30bc9.6da678","type":"change","z":"f3e7e969.b3a088","name":"buy order","rules":[{"t":"set","p":"side","pt":"msg","to":"buy","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":260,"wires":[["46b692af.4273dc"]]},{"id":"46b692af.4273dc","type":"change","z":"f3e7e969.b3a088","name":"5x orders (29 to 34)","rules":[{"t":"set","p":"pricerange","pt":"msg","to":"{\"high\":32,\"low\":23,\"orders\":5}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":300,"wires":[["8b694448.8dabc8","f559b513.df0ab8"]]},{"id":"8b694448.8dabc8","type":"debug","z":"f3e7e969.b3a088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":320,"wires":[]},{"id":"37fd4df5.0dfe62","type":"debug","z":"f3e7e969.b3a088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":220,"wires":[]},{"id":"46b137f5.040ed8","type":"split","z":"f3e7e969.b3a088","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":450,"y":220,"wires":[["4d86d47a.47a6bc","37fd4df5.0dfe62"]]},{"id":"4d86d47a.47a6bc","type":"submit-order","z":"f3e7e969.b3a088","name":"","symbol":"HON","ordertype":"limit","qty":"","price":"","x":470,"y":260,"wires":[["3cfc3ecf.344842"]]}]