examples/order_templator.json
[{"id":"b4587536.cb85e8","type":"tab","label":"Alpaca Order Templator","disabled":false,"info":""},{"id":"1adb0da2.78ebf2","type":"ui_text_input","z":"b4587536.cb85e8","name":"","label":"Symbol","tooltip":"","group":"5fba688a.db0b38","order":1,"width":"3","height":"1","passthru":true,"mode":"text","delay":"500","topic":"","x":180,"y":380,"wires":[["8ad3a568.9e3158","1ae3a819.fab878"]]},{"id":"8ad3a568.9e3158","type":"change","z":"b4587536.cb85e8","name":"save to flow","rules":[{"t":"move","p":"payload","pt":"msg","to":"state.symbol","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"state","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":380,"wires":[["1a0d82eb.37cd6d"]]},{"id":"ddac0e9b.6c30d","type":"change","z":"b4587536.cb85e8","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"state.base_price","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":500,"wires":[["7ed313a3.c9891c"]]},{"id":"83aeb3aa.1eb8f","type":"change","z":"b4587536.cb85e8","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"state.order.type","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":120,"wires":[[]]},{"id":"d730dd12.8d6d2","type":"change","z":"b4587536.cb85e8","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"state.order.relative_price","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":540,"wires":[["7ed313a3.c9891c"]]},{"id":"a99b93fa.6212e","type":"ui_text","z":"b4587536.cb85e8","group":"5fba688a.db0b38","order":2,"width":"3","height":"1","name":"Order Price","label":"","format":"<font color=\"#33A\">${{msg.payload}}</font>","layout":"row-spread","x":670,"y":540,"wires":[]},{"id":"61f7fe3f.57275","type":"catch","z":"b4587536.cb85e8","name":"","scope":null,"uncaught":false,"x":180,"y":1540,"wires":[["ce80940e.0abb28"]]},{"id":"ce80940e.0abb28","type":"debug","z":"b4587536.cb85e8","name":"ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":360,"y":1540,"wires":[]},{"id":"7ed313a3.c9891c","type":"function","z":"b4587536.cb85e8","name":"Update Scale Price","func":"var relative_price = flow.get(\"state.order.relative_price\");\nvar base_price = flow.get(\"state.base_price\");\nmsg.payload = base_price * (1 + relative_price/100);\n\n\nmsg.payload = msg.payload.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":500,"wires":[["a99b93fa.6212e"]]},{"id":"a0cda821.9c21c8","type":"ui_text_input","z":"b4587536.cb85e8","name":"","label":"Base Price","tooltip":"","group":"536e1cb2.5803d4","order":1,"width":"2","height":"1","passthru":true,"mode":"number","delay":300,"topic":"","x":190,"y":500,"wires":[["ddac0e9b.6c30d"]]},{"id":"7bda914c.0cb14","type":"ui_slider","z":"b4587536.cb85e8","name":"","label":"","tooltip":"","group":"5fba688a.db0b38","order":5,"width":"4","height":"1","passthru":true,"outs":"all","topic":"","min":"-10","max":"10","step":"0.1","x":170,"y":580,"wires":[["f9dad540.e1e9c8"]]},{"id":"66e58b7c.7ed974","type":"ui_dropdown","z":"b4587536.cb85e8","name":"Order Type","label":"","tooltip":"","place":"Select option","group":"5fba688a.db0b38","order":4,"width":"3","height":"1","passthru":true,"multiple":false,"options":[{"label":"Limit","value":"limit","type":"str"},{"label":"Stop","value":"stop","type":"str"},{"label":"Stop Limit","value":"stop_limit","type":"str"},{"label":"Market","value":"market","type":"str"}],"payload":"","topic":"","x":330,"y":120,"wires":[["83aeb3aa.1eb8f"]]},{"id":"263958a6.4b6c98","type":"split","z":"b4587536.cb85e8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":770,"y":380,"wires":[["7290305e.b3b7f"]]},{"id":"7290305e.b3b7f","type":"split","z":"b4587536.cb85e8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":770,"y":420,"wires":[["4b28fc5a.d01a24"]]},{"id":"14b55e81.238301","type":"inject","z":"b4587536.cb85e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":150,"y":240,"wires":[["aba04cb9.c92da","95c458b2.9ea578"]]},{"id":"4b28fc5a.d01a24","type":"change","z":"b4587536.cb85e8","name":"save to flow","rules":[{"t":"move","p":"payload.closePrice","pt":"msg","to":"state.latestClosePrice","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"state.latestClosePrice","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":440,"wires":[["3974e026.2054a"]]},{"id":"1fa158b1.39b1b7","type":"ui_button","z":"b4587536.cb85e8","name":"","group":"5fba688a.db0b38","order":8,"width":"2","height":"1","passthru":false,"label":"Add","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":740,"wires":[["25db2602.30517a"]]},{"id":"25db2602.30517a","type":"function","z":"b4587536.cb85e8","name":"save to flow","func":"var order = flow.get(\"state.order\");\norder = JSON.parse(JSON.stringify(order));\norder.isChecked = true;\n\nvar order_list = flow.get(\"order_list\");\nvar order_list_match_criteria;\nvar filtered_order_list = [];\n\nif(!order_list){\n    filtered_order_list = [order];\n}else if(order_list.length === 0){\n    filtered_order_list = [order];\n}else{\n    var max_order = order_list.length;\n    for(var i = 0; i < max_order; i++){\n        let cursor = order_list[i];\n        order_list_match_criteria = (\n            cursor.type == order.type &&\n            cursor.relative_price == order.relative_price &&\n            cursor.side == order.side);\n        if(order_list_match_criteria){\n            let new_volume = order_list[i].volume + order.volume*1;\n            order.volume = new_volume;\n        }else{\n            filtered_order_list.push(cursor);\n        }\n    }\n    filtered_order_list.push(order);\n}\n\nflow.set(\"order_list\",filtered_order_list);\n\nreturn {\"payload\":{}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":740,"wires":[["65cd7c81.03f704","77f08ae6.8ce754"]]},{"id":"19411766.1c2df9","type":"inject","z":"b4587536.cb85e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":170,"y":440,"wires":[["a0cda821.9c21c8"]]},{"id":"aa9f050d.b38c58","type":"inject","z":"b4587536.cb85e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":170,"y":540,"wires":[["7bda914c.0cb14","f9dad540.e1e9c8"]]},{"id":"f9dad540.e1e9c8","type":"ui_text_input","z":"b4587536.cb85e8","name":"","label":"Rel't %","tooltip":"","group":"5fba688a.db0b38","order":6,"width":"2","height":"1","passthru":true,"mode":"number","delay":300,"topic":"","x":400,"y":580,"wires":[["d730dd12.8d6d2"]]},{"id":"aba04cb9.c92da","type":"ui_text_input","z":"b4587536.cb85e8","name":"","label":"Volume","tooltip":"Number of shares to buy","group":"5fba688a.db0b38","order":7,"width":"2","height":"1","passthru":true,"mode":"number","delay":300,"topic":"","x":320,"y":260,"wires":[["95c458b2.9ea578"]]},{"id":"95c458b2.9ea578","type":"change","z":"b4587536.cb85e8","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"state.order.volume","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":240,"wires":[["717d4ac5.6ad654"]]},{"id":"62d996d9.8c2308","type":"inject","z":"b4587536.cb85e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"limit","payloadType":"str","x":150,"y":120,"wires":[["66e58b7c.7ed974"]]},{"id":"38a2c6e6.d026aa","type":"ui_list","z":"b4587536.cb85e8","group":"536e1cb2.5803d4","name":"","order":5,"width":"6","height":"4","lineType":"one","actionType":"switch","allowHTML":false,"outputs":1,"topic":"","x":1050,"y":820,"wires":[["24cbc29.ec5443e"]]},{"id":"2713566.414a6aa","type":"template","z":"b4587536.cb85e8","name":"","field":"payload.title","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.side}} / {{payload.type}}   @{{payload.relative_price}}%   (x{{payload.volume}})","output":"str","x":880,"y":780,"wires":[["afffbb36.9947d8"]]},{"id":"354fb42a.dd335c","type":"inject","z":"b4587536.cb85e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":820,"wires":[["65cd7c81.03f704"]]},{"id":"4a3d776d.e97808","type":"split","z":"b4587536.cb85e8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":720,"wires":[["8f554762.0cc108"]]},{"id":"afffbb36.9947d8","type":"join","z":"b4587536.cb85e8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1030,"y":780,"wires":[["38a2c6e6.d026aa"]]},{"id":"b93e6c22.50488","type":"switch","z":"b4587536.cb85e8","name":"empty check","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":780,"wires":[["4a3d776d.e97808"],["7ba8012c.6a92a"]]},{"id":"eaeaae6b.de45e","type":"sort","z":"b4587536.cb85e8","name":"","order":"descending","as_num":true,"target":"","targetType":"seq","msgKey":"","msgKeyType":"elem","seqKey":"payload.relative_price","seqKeyType":"msg","x":710,"y":760,"wires":[["2713566.414a6aa"]]},{"id":"1aa62a43.e2c6f6","type":"ui_dropdown","z":"b4587536.cb85e8","name":"Order Side","label":"","tooltip":"","place":"buy/sell","group":"5fba688a.db0b38","order":3,"width":"3","height":"1","passthru":true,"multiple":false,"options":[{"label":"Buy","value":"buy","type":"str"},{"label":"Sell","value":"sell","type":"str"}],"payload":"","topic":"","x":310,"y":180,"wires":[["5edfa209.8f3fdc"]]},{"id":"5edfa209.8f3fdc","type":"change","z":"b4587536.cb85e8","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"state.order.side","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":180,"wires":[[]]},{"id":"7ba8012c.6a92a","type":"change","z":"b4587536.cb85e8","name":"{}","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":820,"wires":[["38a2c6e6.d026aa"]]},{"id":"c0662f81.c1f6a","type":"change","z":"b4587536.cb85e8","name":"","rules":[{"t":"set","p":"order_list","pt":"flow","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":700,"wires":[["65cd7c81.03f704"]]},{"id":"b54c79fb.6d4e48","type":"ui_button","z":"b4587536.cb85e8","name":"","group":"536e1cb2.5803d4","order":3,"width":"2","height":"1","passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":700,"wires":[["c0662f81.c1f6a"]]},{"id":"1ae3a819.fab878","type":"ui_button","z":"b4587536.cb85e8","name":"","group":"536e1cb2.5803d4","order":2,"width":"1","height":"1","passthru":false,"label":"GET","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":370,"y":340,"wires":[["21161704.64ee18"]]},{"id":"21161704.64ee18","type":"change","z":"b4587536.cb85e8","name":"read from flow","rules":[{"t":"set","p":"payload","pt":"msg","to":"state","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":340,"wires":[["1a0d82eb.37cd6d"]]},{"id":"3974e026.2054a","type":"delay","z":"b4587536.cb85e8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":460,"wires":[["a0cda821.9c21c8"]]},{"id":"5e2039fb.cd2418","type":"ui_button","z":"b4587536.cb85e8","name":"","group":"536e1cb2.5803d4","order":4,"width":"1","height":"1","passthru":false,"label":"R","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":780,"wires":[["65cd7c81.03f704"]]},{"id":"9f837386.d3b1c","type":"ui_text","z":"b4587536.cb85e8","group":"5fba688a.db0b38","order":9,"width":"2","height":"1","name":"Total","label":"","format":"<font color=\"#33A\">${{msg.payload}}</font>","layout":"row-spread","x":990,"y":220,"wires":[]},{"id":"717d4ac5.6ad654","type":"function","z":"b4587536.cb85e8","name":"Update Total Price","func":"var volume = flow.get(\"state.order.volume\");\nvar relative_price = flow.get(\"state.order.relative_price\");\nvar base_price = flow.get(\"state.base_price\");\nmsg.payload = base_price * (1 + relative_price/100) * volume;\n\n\nmsg.payload = msg.payload.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":240,"wires":[["9f837386.d3b1c"]]},{"id":"a012d479.dd3e38","type":"complete","z":"b4587536.cb85e8","name":"Updated Scale Price","scope":["7ed313a3.c9891c"],"uncaught":false,"x":750,"y":200,"wires":[["717d4ac5.6ad654"]]},{"id":"8f554762.0cc108","type":"function","z":"b4587536.cb85e8","name":"calculate total","func":"var base_price = flow.get(\"state.base_price\");\nvar rel_price = msg.payload.relative_price;\nvar volume = msg.payload.volume\nvar scale_price = base_price * (1 + rel_price/100);\n\nmsg.payload.scale_price = scale_price;\nmsg.payload.total = scale_price * volume;\nmsg.payload.totalStr = msg.payload.total.toFixed(0);\nif(msg.payload.total < 0){\n    msg.payload.totalStr = \"(\" + msg.payload.total + \")\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":720,"wires":[["eaeaae6b.de45e"]]},{"id":"f167003c.f73b4","type":"ui_button","z":"b4587536.cb85e8","name":"","group":"536e1cb2.5803d4","order":7,"width":"3","height":"1","passthru":false,"label":"SUBMIT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"isChecked\":true}","payloadType":"json","topic":"","x":160,"y":980,"wires":[["83db37df.d499e8"]]},{"id":"c1cb2ab0.a5f738","type":"ui_toast","z":"b4587536.cb85e8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1030,"y":1200,"wires":[]},{"id":"d46bf7d5.851368","type":"split","z":"b4587536.cb85e8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":330,"y":1080,"wires":[["9907b315.93d7"]]},{"id":"d15c25b9.f1f8b8","type":"debug","z":"b4587536.cb85e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":1320,"wires":[]},{"id":"9907b315.93d7","type":"function","z":"b4587536.cb85e8","name":"Update Scale Price","func":"var relative_price = msg.payload.relative_price;\nvar base_price = flow.get(\"state.base_price\");\nmsg.payload.symbol = flow.get(\"state.symbol\");\nmsg.payload.qty = msg.payload.volume * flow.get(\"state.scalar\");\nmsg.payload.limit_price = base_price * (1 + relative_price/100);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":1100,"wires":[["30bc0886.408308","e4d89fc0.36091"]]},{"id":"7f3d5f64.d5e26","type":"switch","z":"b4587536.cb85e8","name":"","property":"payload.code","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":1180,"wires":[["4449b59b.95ce6c","56797c74.1b0884"],["20f4458e.36fa9a"]]},{"id":"4449b59b.95ce6c","type":"template","z":"b4587536.cb85e8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ERROR {{payload.code}}: {{payload.message}}","output":"str","x":780,"y":1180,"wires":[["c1cb2ab0.a5f738"]]},{"id":"20f4458e.36fa9a","type":"switch","z":"b4587536.cb85e8","name":"","property":"payload.response","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":1240,"wires":[["4df7340b.464f7c"],["d15c25b9.f1f8b8"]]},{"id":"4df7340b.464f7c","type":"template","z":"b4587536.cb85e8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SUCCESS! {{payload.response.client_order_id}}","output":"str","x":780,"y":1220,"wires":[["c1cb2ab0.a5f738"]]},{"id":"5df632eb.6d5c6c","type":"ui_text_input","z":"b4587536.cb85e8","name":"","label":"Scalar","tooltip":"","group":"536e1cb2.5803d4","order":8,"width":"2","height":"1","passthru":true,"mode":"number","delay":300,"topic":"","x":290,"y":80,"wires":[["67457695.c47068"]]},{"id":"67457695.c47068","type":"change","z":"b4587536.cb85e8","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"state.scalar","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":60,"wires":[[]]},{"id":"3a023838.ee1858","type":"inject","z":"b4587536.cb85e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":150,"y":60,"wires":[["5df632eb.6d5c6c","67457695.c47068"]]},{"id":"30bc0886.408308","type":"debug","z":"b4587536.cb85e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":1080,"wires":[]},{"id":"56797c74.1b0884","type":"debug","z":"b4587536.cb85e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":1140,"wires":[]},{"id":"e4d89fc0.36091","type":"submit-order","z":"b4587536.cb85e8","name":"","symbol":"","ordertype":"market","qty":"","limit_price":"","stop_price":"","tif":"day","side":"","auth":"93ef1dcc.4950e","x":550,"y":1140,"wires":[["7f3d5f64.d5e26"]]},{"id":"1a0d82eb.37cd6d","type":"get-bars","z":"b4587536.cb85e8","name":"","symbol":"","limit":"1","auth":"93ef1dcc.4950e","x":600,"y":380,"wires":[["263958a6.4b6c98"]]},{"id":"65cd7c81.03f704","type":"function","z":"b4587536.cb85e8","name":"read from flow","func":"var order_list = flow.get(\"order_list\");\n\n\nreturn {\"payload\":order_list};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":820,"wires":[["b93e6c22.50488","aa42e75.be5f918"]]},{"id":"83db37df.d499e8","type":"function","z":"b4587536.cb85e8","name":"read from flow","func":"var order_list = flow.get(\"order_list\");\nvar state = flow.get(\"state\");\n\nif(!state.symbol){\n    return {\"payload\":\"ERROR: missing symbol\"};}\n    \nif(!state.scalar){\n    return {\"payload\":\"ERROR: missing scalar\"};}\n\n\nreturn {\"payload\":order_list};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":1020,"wires":[["4ef8d3b4.73ec2c"]]},{"id":"24cbc29.ec5443e","type":"debug","z":"b4587536.cb85e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1250,"y":820,"wires":[]},{"id":"aa42e75.be5f918","type":"debug","z":"b4587536.cb85e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":880,"wires":[]},{"id":"77f08ae6.8ce754","type":"debug","z":"b4587536.cb85e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":680,"wires":[]},{"id":"494831ec.3e1fd","type":"comment","z":"b4587536.cb85e8","name":"Order Sheet Preview","info":"","x":120,"y":640,"wires":[]},{"id":"c8213c0b.142ef","type":"comment","z":"b4587536.cb85e8","name":"Preliminary Information","info":"","x":140,"y":20,"wires":[]},{"id":"4ef8d3b4.73ec2c","type":"switch","z":"b4587536.cb85e8","name":"is Err String","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"string","vt":"string"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":1040,"wires":[["9d6c9e34.21f64"],["d46bf7d5.851368"]]},{"id":"9d6c9e34.21f64","type":"ui_toast","z":"b4587536.cb85e8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":550,"y":1020,"wires":[]},{"id":"fdc6eedd.41a0e","type":"inject","z":"b4587536.cb85e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"AAPL","payloadType":"str","x":150,"y":340,"wires":[["1adb0da2.78ebf2","8ad3a568.9e3158"]]},{"id":"5fba688a.db0b38","type":"ui_group","z":"","name":"Settings","tab":"241c352c.2d5a5a","order":1,"disp":true,"width":"6","collapse":false},{"id":"536e1cb2.5803d4","type":"ui_group","z":"","name":"Order Sheet","tab":"241c352c.2d5a5a","order":2,"disp":true,"width":"6","collapse":false},{"id":"93ef1dcc.4950e","type":"alpaca-config","z":"","name":"My Alpaca Config","keyid":"${APCA_API_KEY_ID}","secretkey":"${APCA_API_SECRET_KEY}","paper":"true"},{"id":"241c352c.2d5a5a","type":"ui_tab","z":"","name":"Order","icon":"dashboard","order":2}]
