examples/pending_orders.json
[{"id":"5d0c67dd.3f90e8","type":"tab","label":"Pending Orders","disabled":false,"info":""},{"id":"8ee4d148.648f5","type":"inject","z":"5d0c67dd.3f90e8","name":"","props":[{"p":"payload.status","v":"open","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":130,"y":60,"wires":[["2492ec72.56ae14"]]},{"id":"1242ad88.727712","type":"split","z":"5d0c67dd.3f90e8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":570,"y":160,"wires":[["424d4312.64677c"]]},{"id":"512c113d.197bf","type":"ui_list","z":"5d0c67dd.3f90e8","group":"e3d62f9e.5ba07","name":"","order":3,"width":"2","height":"6","lineType":"one","actionType":"click","allowHTML":false,"outputs":1,"topic":"","x":690,"y":240,"wires":[["fa7157de.090868"]]},{"id":"2492ec72.56ae14","type":"get-orders","z":"5d0c67dd.3f90e8","name":"","auth":"93ef1dcc.4950e","x":380,"y":60,"wires":[["b1ecc393.21291"]]},{"id":"8bfd16c2.ac05e8","type":"ui_table","z":"5d0c67dd.3f90e8","group":"e3d62f9e.5ba07","name":"","order":1,"width":"8","height":"6","columns":[],"outputs":0,"cts":false,"x":790,"y":380,"wires":[]},{"id":"131ae4f1.3e0ebb","type":"function","z":"5d0c67dd.3f90e8","name":"selection","func":"var orders = flow.get(\"orders\");\nvar symbol = msg.payload;\nvar table = [];\nvar payload = {};\n\nfor (var i = 0; i < orders.length; i++){\n    var cursor = orders[i];\n    if(cursor.symbol == symbol && cursor.limit_price !== null){\n        payload = {\n            \"symbol\"    : cursor.symbol,\n            \"side\"      : cursor.side,\n            \"type\"      : cursor.type,\n            \"limit_price\": cursor.limit_price,\n            \"stop_price\": cursor.stop_price,\n            \"qty\"       : cursor.qty,\n            \"status\"    : cursor.status,\n            \"price\"     : cursor.limit_price || cursor.stop_price\n        }\n        table.push(payload);\n    }\n}\n\nreturn {\"payload\":table};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":380,"wires":[["8bfd16c2.ac05e8","781c3c49.563294"]]},{"id":"424d4312.64677c","type":"function","z":"5d0c67dd.3f90e8","name":"unique symbols","func":"var all_symbols = flow.get(\"list_of_all_symbols\");\nvar s = msg.payload.symbol;\n\nif (!all_symbols.includes(s)){\n    all_symbols.push(s);\n}\n\nflow.set(\"list_of_all_symbols\", all_symbols);\n\nif (msg.parts.index == msg.parts.count - 1){;\n    return {\"payload\": all_symbols};\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":160,"wires":[["8548780c.c7ce48"]]},{"id":"8548780c.c7ce48","type":"sort","z":"5d0c67dd.3f90e8","name":"","order":"ascending","as_num":false,"target":"payload","targetType":"msg","msgKey":"","msgKeyType":"elem","seqKey":"payload","seqKeyType":"msg","x":870,"y":160,"wires":[["6d9cb5f6.77951c"]]},{"id":"6d9cb5f6.77951c","type":"split","z":"5d0c67dd.3f90e8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":570,"y":200,"wires":[["af5af291.ecaf4"]]},{"id":"af5af291.ecaf4","type":"function","z":"5d0c67dd.3f90e8","name":"format","func":"var symbol = msg.payload;\n\nmsg.payload = {\n \"title\"    : symbol,\n \"symbol\"   : symbol\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":200,"wires":[["84bdcfaa.935d9"]]},{"id":"84bdcfaa.935d9","type":"join","z":"5d0c67dd.3f90e8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":570,"y":240,"wires":[["512c113d.197bf"]]},{"id":"4028332b.c6624c","type":"inject","z":"5d0c67dd.3f90e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"orders[0].symbol","payloadType":"flow","x":300,"y":360,"wires":[["131ae4f1.3e0ebb"]]},{"id":"fa7157de.090868","type":"change","z":"5d0c67dd.3f90e8","name":"move symbol","rules":[{"t":"move","p":"payload.symbol","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":340,"wires":[["131ae4f1.3e0ebb"]]},{"id":"4789b4e3.32a7dc","type":"ui_chart","z":"5d0c67dd.3f90e8","d":true,"name":"","group":"e3d62f9e.5ba07","order":2,"width":0,"height":0,"label":"OrderBook","chartType":"line","legend":"true","xformat":"ssSS.S","interpolate":"step","nodata":"","dot":true,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#d4081c","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":620,"y":500,"wires":[[]]},{"id":"8a8ed586.56d528","type":"function","z":"5d0c67dd.3f90e8","name":"totalizer","func":"\nvar orders = msg.payload;\n\nvar min = orders[0].limit_price;\nvar max = min;\nvar segments = [];\nvar amplitude_of_buy_segments = [];\nvar amplitude_of_sell_segments = [];\nvar number_of_segments = 15;\n\nvar i;\nvar cursor;\nvar price;\nfor (i = 0; i < orders.length; i++){\n    cursor = orders[i];\n    price = orders[i].limit_price;\n    min = Math.min(min, price);\n    max = Math.max(max, price);\n}\n\nvar size_of_segments = (max - min) / number_of_segments;\n\nvar s;\nvar limit;\nfor (s = 0; s < number_of_segments; s++){\n    limit = min + s * size_of_segments\n    segments[s] = limit.toFixed(2);\n    amplitude_of_buy_segments[s]=0;\n    amplitude_of_sell_segments[s]=0;\n}\n\nvar j;\nfor (i = 0; i < orders.length; i++){\n    var buy_cursor = orders[i];\n    var sell_cursor = orders[orders.length - i - 1];\n    for(j = 0; j < number_of_segments; j++){\n        let matches_buy_order = (buy_cursor.side == 'buy') && \n            (buy_cursor.limit_price >= \n            segments[j] * 1);\n        let matches_sell_order = (sell_cursor.side == 'sell') &&\n            (sell_cursor.limit_price >= \n            segments[segments.length - j - 1] * 1);\n        let qty = cursor.qty*1;\n        if(matches_buy_order){\n            amplitude_of_buy_segments[j] += qty;}\n        if(matches_sell_order){\n            amplitude_of_sell_segments[segments.length - j - 1] += qty;}\n    }\n}\n\nvar m={};\nm.labels = segments;\nm.series = ['buy','sell'];\nm.data = [amplitude_of_buy_segments,\n        amplitude_of_sell_segments];\n\nreturn {payload:[m]};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":460,"wires":[["4789b4e3.32a7dc","436de01e.b72be"]]},{"id":"65523ad1.b07384","type":"catch","z":"5d0c67dd.3f90e8","name":"","scope":null,"uncaught":false,"x":410,"y":600,"wires":[["a3daf815.94b608"]]},{"id":"a3daf815.94b608","type":"debug","z":"5d0c67dd.3f90e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":580,"y":600,"wires":[]},{"id":"b1ecc393.21291","type":"function","z":"5d0c67dd.3f90e8","name":"filter and save","func":"var filtered_orders = [];\n\nfor(var i = 0; i < msg.payload.length; i++){\n    if(msg.payload[i].order_type != \"market\"){\n        filtered_orders.push(msg.payload[i]);\n    }\n}\n\nflow.set(\"orders\",filtered_orders);\nreturn {\"payload\":JSON.parse(JSON.stringify(filtered_orders))};\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":80,"wires":[["1242ad88.727712","572791ce.c5056"]]},{"id":"572791ce.c5056","type":"debug","z":"5d0c67dd.3f90e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":80,"wires":[]},{"id":"436de01e.b72be","type":"debug","z":"5d0c67dd.3f90e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":460,"wires":[]},{"id":"e6e834a8.78ad58","type":"sort","z":"5d0c67dd.3f90e8","name":"","order":"descending","as_num":true,"target":"","targetType":"seq","msgKey":"","msgKeyType":"elem","seqKey":"payload.price","seqKeyType":"msg","x":570,"y":420,"wires":[["1fee507.bdfc8b"]]},{"id":"8720d292.a117a","type":"debug","z":"5d0c67dd.3f90e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":420,"wires":[]},{"id":"781c3c49.563294","type":"split","z":"5d0c67dd.3f90e8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":430,"y":420,"wires":[["e6e834a8.78ad58","1e5e332c.eb6b6d"]]},{"id":"1fee507.bdfc8b","type":"join","z":"5d0c67dd.3f90e8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":710,"y":420,"wires":[["8a8ed586.56d528","8720d292.a117a"]]},{"id":"1e5e332c.eb6b6d","type":"debug","z":"5d0c67dd.3f90e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":460,"wires":[]},{"id":"e3d62f9e.5ba07","type":"ui_group","z":"","name":"Pending Orders","tab":"241c352c.2d5a5a","order":3,"disp":true,"width":"10","collapse":false},{"id":"93ef1dcc.4950e","type":"alpaca-config","z":"","name":"My Alpaca Config","keyid":"${APCA_API_KEY_ID}","secretkey":"${APCA_API_SECRET_KEY}","paper":"true"},{"id":"241c352c.2d5a5a","type":"ui_tab","z":"","name":"Order","icon":"dashboard","order":2}]
